form fieldset.form-wrapper#edit-field-settings-s3-image-storage table.token-tree{
    margin-left: 0;
}

form fieldset.form-wrapper#edit-field-settings-s3-image-storage table caption{
    text-align: left;
}

form#s3-image-storage-form-configuration em.error{
    font-weight: bold;
    color: red;
}

form .op-s3-image-storage-regenerate-button-wrapper-single{
    float:right;
    margin-left: 10px;
}

